<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About Radio Balu</h4>
          <p class="text-white">Radio Balu brings you the best in country music, streaming 24/7. From classic legends to today’s rising stars, enjoy the sound, stories, and spirit of country scene — anytime, anywhere.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on TikTok</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm has-logo">
    <div class="container">
      <a href="http://radiobalu.com" class="navbar-brand d-flex align-items-center">
        <img src="assets/images/Radio-Balu-Logo.png" alt="Radio Balu Logo" width="120px" style="margin-right: 10px;" />
        <!-- <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
          width="71.000000pt" height="40.000000pt" viewBox="0 0 320.000000 180.000000"
          preserveAspectRatio="xMidYMid meet">

          <g transform="translate(0.000000,180.000000) scale(0.100000,-0.100000)"
          fill="#FFF" stroke="none">
          <path d="M1703 1748 c-18 -6 -33 -15 -33 -19 0 -11 63 -37 120 -50 61 -13 200
          -82 229 -113 58 -62 -22 -43 -216 50 -221 106 -322 134 -484 134 -178 0 -268
          -28 -347 -108 -87 -91 -136 -206 -162 -385 -11 -72 -10 -80 7 -92 10 -8 24
          -15 31 -15 52 -1 342 -187 638 -411 155 -117 208 -132 428 -125 277 9 525 76
          534 145 7 45 -144 621 -206 786 -32 87 -103 163 -177 190 -60 22 -310 31 -362
          13z"/>
          <path d="M375 1156 c-145 -35 -279 -136 -337 -253 -28 -56 -30 -70 -26 -130 8
          -114 71 -207 189 -279 124 -75 262 -110 769 -194 168 -28 382 -69 475 -90 94
          -21 229 -51 300 -65 72 -14 155 -32 185 -40 78 -20 341 -63 430 -70 220 -18
          468 46 618 160 78 59 130 126 178 230 35 77 36 83 32 175 -3 85 -8 103 -41
          171 -49 103 -136 190 -236 236 -103 47 -247 82 -370 90 l-104 6 6 -34 c16 -85
          70 -308 84 -347 11 -31 31 -56 75 -91 68 -55 234 -149 321 -181 31 -12 57 -25
          57 -30 0 -5 -19 -29 -42 -53 -49 -51 -123 -98 -218 -136 -61 -24 -75 -25 -245
          -26 -192 0 -234 7 -375 62 -162 63 -288 142 -625 393 -426 316 -578 418 -686
          458 -128 47 -308 64 -414 38z"/>
          </g>
        </svg> -->
        <!-- &nbsp;Radio Balu -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>