.showcase-bg {
    background-image: url('../../../assets/images/Showcase-Radio-Balu-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .showcase-bg .container {
    background-color: rgba(26, 1, 1, 0.6);
    padding: 2rem;
    border-radius: 0.5rem;
  }