<div class="album py-5 bg-light">
  <div class="container">
    <h3 class="mb-4">Radio Balu Launch Event - 16<sup>th</sup> August 2025</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let img of images; let i = index">
        <div class="card shadow-sm border-0">
          <img 
            [src]="img.src" 
            [alt]="img.alt"
            class="card-img-top"
            loading="lazy"
            data-bs-toggle="modal" 
            data-bs-target="#imageModal"
            (click)="openImage(i)"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal with carousel -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-dark border-0">
      <div class="modal-body p-0">
        <div id="galleryCarousel" 
            class="carousel slide" 
            data-bs-ride="false" 
            data-bs-interval="false">

          <div class="carousel-inner">
            <div *ngFor="let img of images; let i = index" 
                class="carousel-item" 
                [class.active]="i === selectedIndex">
              <img [src]="img.src" [alt]="img.alt" class="d-block w-100 rounded-3">
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#galleryCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#galleryCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- <div class="album py-5 bg-light">
  <div class="container">
    <h3>Radio Balu Launch Event</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img 
            src="assets/images/launch/radio-balu-launch-1.jpg" 
            class="card-img-top" 
            alt="Radio Balu launch event"
          />
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img 
            src="assets/images/launch/radio-balu-launch-2.jpg" 
            class="card-img-top" 
            alt="Radio Balu launch event image 2"
          />
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img 
            src="assets/images/launch/radio-balu-launch-3.jpg" 
            class="card-img-top" 
            alt="Radio Balu launch event image 3"
          />
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img 
            src="assets/images/launch/radio-balu-launch-4.jpg" 
            class="card-img-top" 
            alt="Radio Balu launch event image 4"
          />
        </div>
      </div>
    </div>
  </div>
</div> -->